/* Write your code here. */
.list-item-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 20px;
  border: 2px solid #e4e7eb;
  border-radius: 20px;
  margin: 10px;
  width: 100%;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #d7dae6;
  width: 100%;
}

.question-text {
  color: #52606d;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
}

.plus-or-minus-btn {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

.answer-text {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
}
